<article>
    <h2>Qu'est ce que le web 3.0?</h2>
    <p> Le web dans ses débuts à était fait pour pouvoir lire de l’information. Le « web 2.0 » qui est celui que l’on connaît aujourd’hui, on peut lire l’information et la consulter. On peut produire du contenue des sites internet, sur youtube, sur facebook ...etc. Avec le «  web 3.0 » non seulement on peut lire et écrire du contenu mais on peut la posséder. Le web 3.0 résoudra les problèmes de contrôle et d’authenticité des données, on ne peut pas être sur à 100 % de qui à produit l’information. Cela résoudra les problèmes au niveau scientifique, politique, historique...etc.</p>
</article>