 <div class=" Wethio text-white px-4 px-lg-5">
            <div class="row ">
                <div class="col-sm-8">
                    <!-- Post preview-->
                   <h2>Quel est la vision de wethio project ?</h2>
                        <p> Wethio project à pour but de donner des outils de dernière génération au continent africain, afin de booster son développement et son émancipation économique et 
                        financière. 
                        Permettant aux entrepreneurs et aux start-up de porter leurs idées et créer des synergies et des valeurs ajoutées. </p>
                </div>   
                    <!-- Post preview-->
                
                <div class="col-sm-4">
                    <img src="public/img/" alt="">
                         
                </div>
                    <!-- Post preview-->
                
            </div>
    </div>