<!-- Main Content-->
        <div class=" px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <h2>Qu'est ce que le web 3.0?</h2>
                        <p> Le web dans ses débuts à était fait pour pouvoir lire de l’information. Le « web 2.0 » qui est celui que l’on connaît aujourd’hui, on peut lire l’information et la consulter. On peut produire du contenue des sites internet, sur youtube, sur facebook ...etc. Avec le «  web 3.0 » non seulement on peut lire et écrire du contenu mais on peut la posséder. Le web 3.0 résoudra les problèmes de contrôle et d’authenticité des données, on ne peut pas être sur à 100 % de qui à produit l’information. Cela résoudra les problèmes au niveau scientifique, politique, historique...etc.</p>
                        <p class="post-meta">Posted by<a href="#!">Admin</a>on Février 5, 2022</p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                         <h2>Quel est la vision de wethio project ?</h2>
                        <p> Wethio project à pour but de donner des outils de dernière génération au continent africain, afin de booster son développement et son émancipation économique et 
                        financière. 
                        Permettant aux entrepreneurs et aux start-up de porter leurs idées et créer des synergies et des valeurs ajoutées. </p>
                        <p class="post-meta">Posted by<a href="#!">Admin</a>on Février 5, 2022</p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Science has not yet mastered prophecy</h2>
                            <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                        </a>
                        <p class="post-meta">Posted by<a href="#!">Admin</a>on Février 5, 2022</p>
                    </div>
                    <!-- Divider-->

                    <!-- Post preview-->
                </div>
            </div>
        </div>