<style>

.logo{
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: solid #000000;

} 
header{
    background-image:url('/img/ciel.png');
    background-repeat: round;
}
</style>

<header class="">
        <div class="blog-header py-3">
           <img id ="image" src="" alt=""> 
            <div class=" text-center">
                <h1 class="logo blog-header-logo text-white fs-1">L'univers du Web 3.0</h1>
            </div>
            
        </div>

        <div class="container nav-scroller py-1 mb-2 ">
            <nav class="nav d-flex justify-content-between">
            <li class="nav-item dropdown">
                <a class="p-2 nav-link border rounded-pill text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Accueil
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Qu'est ce que le "web 3.0" ?</a></li>
                    <li><a class="dropdown-item" href="#">La vision de wethio project</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="p-2 nav-link border rounded-pill text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    TOKENS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Zynecoin</a></li>
                    <li><a class="dropdown-item" href="#">Zyrri</a></li>
                    <li><a class="dropdown-item" href="#">Afrix</a></li>
                    <li><a class="dropdown-item" href="#">Glouki</a></li>
                </ul>
            </li>
             <li class="nav-item dropdown">
                <a class="p-2 nav-link border rounded-pill text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    NFT
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Qu'est ce qu'un NFT ?</a></li>
                    <li><a class="dropdown-item" href="#">La collection wethio project</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="p-2 nav-link border rounded-pill text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    INFO
                </a>
                
            </li>
             <li class="nav-item dropdown">
                <a class="p-2 nav-link border rounded-pill text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    CONTACT
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="p-2 nav-link border rounded-pill text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    LIEN UTILS
                </a>
            </li>
            </nav>
        </div>
</header>