$primary:       #04073A;//$blue !default;
$secondary:     #918EA4;//$gray-600 !default;
$success:       #194C3D;//$green !default;
$info:          #EAB165;//$cyan !default;
$warning:       #F8B103;//$yellow !default;
$danger:        #B50505;//$red !default;

$font-family-sans-serif:      Roboto;

